@model C4PHub.Web.Models.ErrorViewModel

@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <img src="/img/error.png" width="150" />
    <br />
    <h3 class="display-5">@Model.Message</h3>
</div>