@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="/img/c4phublogo.png" width="100" />
    <br/>
    <h1 class="display-4">Welcome to C4P Hub</h1>
    <h3 class="display-6">The platform for sharing Calls for papers!!</h3>
</div>
