@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="/img/c4phublogo.png" width="100" />
    <br />
    <h1 class="display-4">Welcome to C4P Hub</h1>
    <h3 class="display-5">The platform for sharing Call for papers!!</h3>
    <br />
    <div class="col-8 offset-2 ">
        <a class="text-black text-decoration-underline" asp-area="" asp-controller="C4P" asp-action="Add">Share a call for paper with community members.</a>
    </div>
</div>
