@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<h3>Introduction</h3>

    Welcome to C4P Hub! We are committed to protecting your privacy and ensuring the security of your information. This Privacy Policy explains how we collect, use, and safeguard your personal data when you use our platform.

<h3>Information We Collect</h3>

    <ol> 
        <li><strong>Microsoft Account Information:</strong> To use our platform, you will be required to authenticate using your Microsoft Account. We will collect and store your Microsoft Account name to identify you on our platform.</li>

        <li><strong>User-Generated Content:</strong> When you share call for papers information or any other content on our platform, we may collect and store that information to display it to other users as per your instructions.</li>
    </ol>

<h3>How We Use Your Information</h3>

    <ol>
        <li><strong>Microsoft Account Name:</strong> We use your Microsoft Account name solely for the purpose of identifying you on our platform. This information is visible to other users to facilitate interaction within our community.</li>

        <li><strong>User-Generated Content:</strong> Any content you share on our platform, including call for papers information, will be displayed to other users as intended by you. No personal information beyond your Microsoft Account name will be shared with other users.</li>
    </ol>

<h3>Sharing Your Information</h3>

    <p>We do not share your personal information with third parties, except in the following cases:</p>

    <ul>
        <li>When required by law, we may disclose your information to comply with legal obligations and protect our rights or the rights of others.</li>
    </ul>

<h3>Security Measures</h3>

    <p>We employ industry-standard security measures to protect your information from unauthorized access, disclosure, alteration, or destruction. However, no method of transmission over the internet or electronic storage is entirely secure, so we cannot guarantee absolute security.</p>

<h3>Data Retention</h3>

    <p>We retain your Microsoft Account name and user-generated content until the C4P expired.</p>


<h3>Updates to this Privacy Policy</h3>

    <p>We may update this Privacy Policy from time to time to reflect changes in our practices or for other operational, legal, or regulatory reasons. The updated policy will be posted on our website with the revised date.</p>

@* <h3>Contact Us</h3>

    <p>If you have any questions, concerns, or requests regarding this Privacy Policy or your personal information, please contact us at [contact email].</p> *@

<p>By using our platform, you agree to the terms and conditions outlined in this Privacy Policy.</p>
