@model C4PHub.Web.Models.C4P.AddModel
@{
    ViewData["Title"] = "Add New C4P";
}

<h1>Add New C4P</h1>
<hr />
<div>
    Enter the Call for Paper link you want to share and I will try to retrieve its information.
    <ul>
        <li>If the <i>'Add automatically if complete'</i> option is active and I have all the Call for Paper information, I will insert it automatically.</li>
        <li>If you want to edit the Call for Paper information before inserting it, disable the <i>'Add automatically if complete'</i> option before click on Add.</li>
        <li>If you want to overwrite an existing Call for Paper (e.g. because it changes its expiration date), enable the <i>'Overwrite the Call for Paper if exists'</i> option before click on Add.</li>
    </ul>
</div>
<form asp-action="Add">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    @if (Model.IsUserAuthenticated)
    {
        @Html.HiddenFor(m => m.UserPublished)
    }
    else
    {
        <div class="row">
            <div class="col-md-8">
                <div class="form-group">
                    <label asp-for="UserPublished" class="control-label"></label>
                    <input asp-for="UserPublished" class="form-control" />
                    <span asp-validation-for="UserPublished" class="text-danger"></span>
                </div>
            </div>
        </div>
    }
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label asp-for="Url" class="control-label"></label>
                <input asp-for="Url" class="form-control" />
                <span asp-validation-for="Url" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <input asp-for="AddIfComplete" />@Html.DisplayNameFor(model=>model.AddIfComplete)
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-md-8">
            <input asp-for="OverwriteIfExists" />@Html.DisplayNameFor(model => model.OverwriteIfExists)
        </div>
    </div>
    <br />
    <div class="form-group">
        <input type="submit" value="Add" class="btn btn-primary" />
    </div>
</form>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
